* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background-color: #d2b679; /* cor de fundo bege */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 900px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.imagem-lateral img {
    height: 100%;
    width: 300px;
    object-fit: cover;
}

.login-box {
    background-color: #d2b679;
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo {
    width: 170px;
    margin-bottom: 20px;
}

.input-group {
    background: white;
    width: 100%;
    max-width: 300px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.input-group .icon {
    margin-right: 10px;
    font-size: 18px;
}

.input-group input {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
}

.login-btn {
    width: 300px;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: #212d1c;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #1b2518;
}

.create-account {
    margin-top: 10px;
    color: #5a0000;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

