/* elementos para borda da pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Bordas arredondas na pagina*/
}

/* elementos para pagina inteira */
body{
    font-family: Arial, Helvetica, sans-serif; /*tippo de fonte */
}

/* formatação do tamanho e cor do navegador */
.header-nav{
    background-color: #3b220f; /* cor da faixa */
    width: 100%;
    color: rgb(10, 9, 9); /* Cor da fonte na faixa */
    padding: 0.1em; /*Tamanho da faixa*/
}

/* Posicionamento das tags dentro do navegador */
.nav-web{
    max-width: 2500px; /* ajuste da posição dentro do nav */
    margin: 0 auto; /* alinhamento da posição */
    display: flex; /* ele torna os elementos dentro do nav flexivel com sua mediada */
    justify-content: space-between; /* cria espaço entre elementos */
    align-items: center; /* alinhamento dos elementos */
    padding: 0 2rem;
}

/* Posicionamento das tags dentro do navegador no lado esquerdo */
.left {
    display: flex;
    align-items: center;
    gap: 2rem; /* espaço entre logo e menu principal */
  }

/* tamanho da logo */
.logo{
    width: 140px;
    height: 130px;
    border-radius: 50%;
    margin-right: 2em;
}

/* Posocionamento do texto dentro do navegador */
.nav-list, .list-rigth{
    list-style: none; /* tira personalização do estilo da lista */
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

/*Formatação do texto debtro do nav */
.nav-list a, .list-rigth a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem; /* tamanho da fonte */
}

/* tamanho da imagem dentro da primeira seção */
.img1{
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* posicionamento da segund seção */
.frame2{
    background-color: #000000;
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows: 100%;
}

/* posicionamento da imagem no frame 2 */
.meio{
    display: flex;
    justify-content: right;
}
